@font-face {
    font-family: Verdana;
    src: url('../fonts/verdana.ttf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: Verdana;
    src: url('../fonts/verdanab.ttf');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: Verdana;
    src: url('../fonts/verdanai.ttf');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: Verdana;
    src: url('../fonts/verdanaz.ttf');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: AvantGarde;
    src: url('../fonts/avantgarde_bold-webfont.eot');
    src: url('../fonts/avantgarde_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avantgarde_bold-webfont.woff') format('woff'),
         url('../fonts/avantgarde_bold-webfont.ttf') format('truetype'),
         url('../fonts/avantgarde_bold-webfont.svg#avantgardebold') format('svg');
    font-weight: bold;
    font-style: normal;

}
/*----------------------------------------------------------------------------------*/
/*------------------------------> RESET DEFAULT STYLES <----------------------------*/
/*----------------------------------------------------------------------------------*/
html        { width:100%; height:100%; }
body        { padding:0; margin:0; background: #444; color:#514F55; height: 100%; min-width: 1024px; }
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,input,textarea {
    padding:0;
    margin:0;
    outline:none;
    list-style:none;
}
body, select, input, textarea, input[type="password"], button {
    font-family: Verdana, Helvetica, sans-serif;
}

select, input, textarea        { font-size: 13px; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none !important; }
input[type=submit]             { cursor:pointer; }
input[type="password"]         {  }
input[type="checkbox"]	       { vertical-align: baseline !important; margin-top: 2px !important; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a                              { color: #000; /*color: #0085D2;*/ text-decoration:none; }
a:hover                        { color: #000; text-decoration:underline; }
button                         { color: #fff; padding: 0; border: 0; }


.bold {
    font-weight: bold;
}
.clear {
    clear: both;
}
.no-display {
    display: none !important;
}
.no-margin {
	margin: 0 !important;
}
.no-padding {
	padding: 0 !important;
}

/*----------------------------------------------------------------------------------*/
/*---------------------------------> Main structure <-------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrapper {
    height: 100%;
    min-height: 670px;
    position: relative;
    background: url(../images/bg_pattern.png) repeat;
    background-size: 500px 300px;
    
}

.wrap {
    width: 978px;
    height: 100%;
    padding: 21px 0 34px;
    margin: 0 auto;
    position: relative;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.wrap .page {
    height: 100%;
    background: #FFF;
    overflow: hidden;
    
    -webkit-border-radius: 21px 0 21px 0;
    -moz-border-radius: 21px 0 21px 0;
    border-radius: 21px 0 21px 0;
}
h1 {
    padding: 15px 0 0 21px;
}
.logo img {
    height: 100px;
}
.copy {
    display: block;
    position: absolute;
    right: 19px;
    bottom: 15px;
    color: #FFF;
    font-size: 8px;
}

.btn {
    display: block;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
	cursor: pointer;
	
	-webkit-box-shadow: 2px 3px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 3px 2px rgba(0,0,0,0.3);
    box-shadow: 2px 3px 2px rgba(0,0,0,0.3);
}
.btn:hover {
    text-decoration: none;
}

.btn-yellow {
    font: bold 11px AvantGarde;
    color: #514F55;
    background: #F69E1E;
    padding: 2px 0;
    width: 110px;
    text-transform: uppercase;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.btn-yellow:hover {
    color: #777;
}


.btn-grey {
	background: #DFDFDF;
	color: #515056;
	font-size: 12px;
	width: 232px;
	height: 20px;
	padding: 4px 0 0;
	
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;	
}
.btn-grey:hover {
	color: #F59E1D;
}
.btn-grey:active,
.btn-grey.checked {
	background: #808284;
	color: #FFF;
}

.sidebar {
    width: 154px;
    height: 100%;
    float: left;
    
    background: #E1A327;
    background: -webkit-linear-gradient(left, #E1A327, #E5C37A);
    background: -moz-linear-gradient(left, #E1A327, #E5C37A);
    background: -ms-linear-gradient(left, #E1A327, #E5C37A);
    background: -o-linear-gradient(left, #E1A327, #E5C37A);
    background-image: -ms-linear-gradient(left, #E1A327 0%, #E5C37A 100%);
}
.content {
    overflow: hidden;
    padding: 37px 43px 10px 40px;
}


/*----------------------------------------------------------------------------------*/
/*------------------------------------> Sidebar <-----------------------------------*/
/*----------------------------------------------------------------------------------*/
.sidebar .login-block,
.sidebar .login-block a {
    color: #514F55;
    font-size: 10px;
}
.sidebar .login-block {
    text-align: right;
    padding: 12px 18px 0 0;
}
.sidebar .login-block li {
    padding: 15px 0 0;
}
.sidebar .login-block .input-block input {
    width: 97px;
    height: 22px;
    padding: 0 10px;
    border: 0;
    background: #FFF;
    
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.sidebar .login-block .input-block label {
    display: block;
    padding: 0 0 4px;
}
.sidebar .login-block label,
.sidebar .login-block a {
    margin-right: 5px;
}
.sidebar .login-block a {
    font-style: italic;
}
.sidebar .login-block .check-block {
    overflow: hidden;
}
.sidebar .login-block .check-block label {
    float: right;
    display: block;
}
.sidebar .login-block .check-block input {
    margin-top: 0 !important;
    margin-right: 8px;
    display: block;
    float: left;
}


.sidebar .nav {
    padding: 28px 18px 0;
}
.sidebar .nav.nav-alone {
	padding-top: 64px;
}
.sidebar .nav a,
.sidebar .nav .sub-nav .caption {
    display: block;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    text-align: right;
    padding: 8px 5px 6px 0;
    font-size: 10px;
    font-weight: bold;
    border-bottom: 1px solid #FFF;
}
.sidebar .nav li:first-child a {
    border-top: 1px solid #FFF;
}
.sidebar .nav a:hover,
.sidebar .nav .active > a,
.sidebar .nav .sub-nav .caption,
.sidebar .nav .sub-nav .active {
    color: #514F55;
}
.sidebar .nav .active > a,
.sidebar .nav .sub-nav .caption {
    padding-right: 19px;
    position: relative;
}
.sidebar .nav .sub-nav.active .caption:before,
.sidebar .nav .active > a:before {
    display: block;
    position: absolute;
    top: 10px;
    right: 5px;
    width: 0;
    height: 0;
    content: " ";
    border-style: solid;
    border-color: transparent #FFF transparent transparent;
    border-width: 5px 8px 5px 0;
}
.sidebar .nav .sub-nav.active .caption:before {
    border-color: #FFF transparent transparent;
    border-width: 8px 5px 0;
	top: 11px;
}

.sidebar .nav .sub-nav .caption {
	padding-bottom: 8px;
}
.sidebar .nav .sub-nav a {
	border: 0;
	font-style: italic;
	margin: 0 11px 0 0;
	padding: 4px 0 3px;
}
.sidebar .nav .sub-nav a:first-child {
	margin-top: 6px;
}
/*----------------------------------------------------------------------------------*/
/*---------------------------------> Slider block <---------------------------------*/
/*----------------------------------------------------------------------------------*/
.slider {
    width: 740px;
	height: 309px;
	overflow: hidden;
    color: #FFF;
	text-align: center;
}
.slider li {
	height: 100%;
}

.anythingSlider {
    position: relative;
    margin: 0 0 12px;
}
.anythingSlider .anythingWindow {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
}
.anythingSlider .anythingBase,
.anythingSlider .fade .panel {
	position: absolute;
	top: 0;
	left: 0;
}

.anythingSlider .fade .panel {
    z-index: 0;
}
.anythingSlider .fade .activePage {
	z-index: 1;
}


.anythingSlider .anythingControls {
    position: absolute;
    right: 20px;
    bottom: 14px;
    z-index: 2;
}
.anythingSlider .anythingControls li {
    float: left;
}
.anythingSlider .anythingControls span {
    display: none;
}
.anythingSlider .anythingControls a {
    display: block;
    width: 12px;
    height: 12px;
    background: #F59E1E;
    margin: 0 0 0 14px;
}
.anythingSlider .anythingControls a.cur {
    background: #FFF;
}


.slider .photo-block {
    width: 450px;
    float: left;
    margin: 0 3px 0 0;
    overflow: hidden;
    
    -webkit-border-radius: 15px 0 0 0;
    -moz-border-radius: 15px 0 0 0;
    border-radius: 15px 0 0 0;
}
.slider .photo-block img {
    width: 100%;
}
.slider .info-block {
    background: #808284;
    overflow: hidden;
    height: 100%;
    
    -webkit-border-radius: 0 0 15px 0;
    -moz-border-radius: 0 0 15px 0;
    border-radius: 0 0 15px 0;
}
.slider h2 {
    font-size: 14px;
    font-weight: bold;
    line-height: 140%;
    padding: 19px 0 17px;
    text-transform: uppercase;
}
.slider p {
    font-size: 12px;
    padding: 0 16px;
    line-height: 160%;
}
.slider .btn {
    width: 90px;
    margin-top: 18px;
    padding: 0;
}


.slider.short-slider {
    height: 184px;
}
.static-slider h2 {
	padding: 54px 0 7px;
}
.static-slider p {
	line-height: 175%;
}


/*----------------------------------------------------------------------------------*/
/*---------------------------------> Register pages <-------------------------------*/
/*----------------------------------------------------------------------------------*/
.description p {
    font-size: 12px;
    line-height: 167%;
    padding: 18px 0 0;
}
.description .btn {
    margin-top: 24px;
}

.description {
    padding: 0 17px;
}

.columns {
    overflow: hidden;
}
.columns .left,
.columns .right {
    float: left;
}
.register-page .description h3 {
    color: #F49D1D;
    font-size: 11px;
    text-transform: uppercase;
}
.register-page .form-list .small-padding {
	padding: 0 0 3px;
}

.register-page .columns {
    padding: 28px 0 0;
}

.register-form .left {
    width: 285px;
    margin: 0 40px 0 0;
}
.register-form .left .form-list {
    margin-left: 27px;
}
.register-form .right {
    width: 340px;
}
.register-form .right .form-list {
    margin-left: 48px;
}

.register-form h3 {
    text-align: center;
}
.description.register-form .btn {
    margin-top: 4px;
}



.form-list {
    width: 232px;
    padding: 11px 0 0;
}
.form-list li {
    padding: 0 0 10px;
}
.form-list .input-block input,
.search-block input {
    font-size: 10px;
    text-align: center;
    width: 200px;
    height: 14px;
    display: block;
    padding: 3px 15px;
    border: 1px solid #808284;
    
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
	
	-webkit-appearance: none;
}
.form-list .double input:first-child {
    width: 55px;
    float: left;
    margin: 0 8px 0 0;
}
.form-list .double input {
    width: 105px;
}
.form-list .double.even-double input {
    width: 81px;
}
.form-list .double.even-double input:first-child {
	margin-right: 6px;
}
.form-list .hint,
.add-block .hint {
    font-size: 9px;
    font-style: italic;
    display: block;
    text-align: center;
}



.register-info-first p {
	text-align: center;
}
.register-info-first .left,
.register-info-first .right {
	width: 300px;
}
.register-info-first .left {
	margin: 0 50px 0 17px;
}

.register-check-list li {
	padding: 19px 0 0;
}
.register-check-list li:first-child {
	padding: 13px 0 0;
}

.custom-check {
	display: inline-block;
	padding: 0 0 0 37px;
	position: relative;
	font-size: 12px;
	line-height: 160%;
	cursor: pointer;
}
.custom-check input {
	display: none;
}
.custom-check .icon {
	display: block;
	width: 12px;
	height: 16px;
	position: absolute;
	left: 0;
	top: 0;
	background: url(../images/checkbox_icons.png) 0 -16px no-repeat;
	background-size: 12px 32px;
	
}
.custom-check.checked .icon {
	background-position: 0 0;
}



.register-info-second .columns {
	padding-top: 66px;
}
.register-info-second .right {
	width: 300px;
}
.register-info-second .left {
	width: 346px;
	margin: 0 0 0 60px;
}
.register-info-second .btn-grey {
	margin-top: 28px;
}
.register-info-second .btn-yellow {
	margin-top: 105px;
}
.radio-list {
	padding: 0 0 5px 3px;
	width: 232px;
}
.radio-list input {
	display: none;
}


.register-info-third {
	text-align: center;
}
.register-info-third h3 {
	padding: 52px 0 9px;
}
.register-info-third .radio-list {
	margin: 0 auto;
}
.register-info-third .btn-yellow {
	margin-top: 155px;
}


/*----------------------------------------------------------------------------------*/
/*-----------------------------------> Login page <---------------------------------*/
/*----------------------------------------------------------------------------------*/
.login-page .content {
	position: relative;
}
.login-page .slider {
	position: absolute;
	left: inherit;
	top: inherit;
}
.login-page .content,
.login-page .description,
.login-info .right {
	height: 100%;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.login-page .description {
	padding-top: 194px;
}


.login-info .left {
	float: left;
	width: 408px;
	margin: 0 25px 0 0;
}
.login-info .right {
	overflow: hidden;
	border-left: 3px solid #808284;
}


.login-page .powered {
	text-transform: uppercase;
	color: #FFF;
	font-size: 9px;
	font-weight: bold;
	display: block;
	padding: 19px 0 0 24px;
	line-height: 167%;
}

.login-info .logo-block {
	text-align: center;
	padding: 6px 0 25px;
}
.logo-holder img {
	max-width: 155px;
	max-height: 90px;
}
.login-info .advisor-block {
	overflow: hidden;
}
.photo-holder img {
	max-width: 90px;
	max-height: 112px;
	border: 2px solid #808284;
}
.login-info .photo-holder {
	float: left;
	margin: 0 48px 0 27px;
}
.login-info .person-info {
	font-size: 10px;
	line-height: 165%;
	overflow: hidden;
}
.login-info .person-info .position {
	color: #F49D1D;
	font-weight: bold;
}
.login-info .email {
	color: #000;
}

.login-info .form-list {
	text-align: center;
	padding: 20px 0 0 30px;
}
.login-info .custom-check {
	padding-left: 20px;
}
.login-info .input-block {
	padding-bottom: 20px;
}
.login-info .check-block {
	padding-bottom: 16px;
}
.login-info .forgot-block {
	padding-bottom: 23px;
}
.login-info .forgot {
	font-size: 10px;
}
.login-info .btn {
	margin-top: 0;
}


/*----------------------------------------------------------------------------------*/
/*-----------------------------------> Item page <----------------------------------*/
/*----------------------------------------------------------------------------------*/
.advisor-area .sidebar {
	position: relative;
}
.logged-in {
	text-align: right;
	position: absolute;
	right: 22px;
	bottom: 18px;
	padding: 0 0 0 10px;
}
.logged-in .name,
.logged-in .logout {
	font-size: 9px;
	line-height: 135%;
	display: block;
}
.logged-in .logout {
	font-weight: bold;
	text-transform: uppercase;
	float: right;
	margin: 12px 0 0;
}

.advisor-area .description {
	padding: 36px 68px 0 64px;
}
.advisor-area .description p {
	padding: 0;
}
.advisor-area .description h2 {
	color: #F49D1D;
	font-weight: bold;
	font-size: 11px;
	text-transform: uppercase;
	padding: 28px 0 23px;
}


.btn-auto-width {
	width: auto;
	padding-left: 5px;
	padding-right: 5px;
}

.advisor-area .description .btn,
.search-block .btn {
	margin: 0;
	float: left;
}
.advisor-area .control-block {
	overflow: hidden;
	padding: 0 0 25px;
}
.search-block {
	float: right;
	width: 270px;
}
.search-block input {
	float: left;
	margin: 0 5px 0 0;
}
.add-block .hint {
	padding: 2px 0 0 12px;
	float: left;
}


.table-block {
	border: 1px solid #56575C;
}
.table-block .caption-block {
	background: #DADADA;
	overflow: hidden;
	padding-right: 15px;
}
/*.table-block .item-list,*/
.table-block .caption-block {
	border-bottom: 1px solid #96989A;
}
.table-block .sort .sort-icon {
	display: inline-block;
	width: 0;
	height: 0;
	margin: 0 0 0 5px;
	border-style: solid;
	border-width: 8px 4px 0;
	border-color: #808284 transparent transparent;
}
.table-block .sort.sort-up .sort-icon {
	border-width: 0 4px 8px;
	border-color: transparent transparent #808284;
}

.table-block .title,
.table-block .name,
.table-block .start-date,
.table-block .end-date,
.table-block .last-name,
.table-block .advisor {
	border-top: 1px solid #96989A;
	border-left: 1px solid #96989A;
	font-size: 10px;
	display: block;
	float: left;
	text-align: center;
	height: 50px;
	padding-top: 18px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.table-block .item-list li > span:first-child,
.table-block .item-list a > span:first-child,
.table-block .caption-block a:first-child {
	border-left: 0;
	padding-left: 30px;
	padding-top: 10px;
	text-align: left;
	padding-right: 10px;
}
.table-block .two-lines {
	display: block;
	overflow: hidden;
	white-space: normal;
	max-height: 30px;
}
.table-block .name {
	padding-left: 18px;
	text-align: left;
}
.table-block .caption-block > *,
.table-block .caption-block a:first-child {
	border-top: 0;
	height: 30px;
	padding: 8px 0 0;
	text-align: center;
	font-style: normal;
	text-decoration: none;
}
.table-block .item-list a {
	display: block;
	color: #514F55;
	font-style: italic;
}
.table-block .item-list .title {
	color: #000;
}
.table-block .item-list li {
	overflow: hidden;
}
.table-block .item-list li:first-child * {
	border-top: 0;
}
.table-block .item-list li:hover {
	background: #FAFAFA;
}


.table-block.one-line-table .item-list span,
.table-block.one-line-table .item-list span:first-child {
	height: 30px;
	text-align: center;
	padding-top: 8px;
	padding-left: 0;
	color: #000;
}



.items-page .enable-custom-scrollbar {
	height: 300px;
}
.items-page .table-block .title {
	width: 40%;
}
.items-page .table-block .name {
	width: 26%;
}
.items-page .table-block .start-date {
	width: 17%;
}
.items-page .table-block .end-date {
	width: 17%;
}


/*----------------------------------------------------------------------------------*/
/*---------------------------------> Clients page <---------------------------------*/
/*----------------------------------------------------------------------------------*/
.clients-page .table-block .name {
	width: 30%;
}
.clients-page .table-block .last-name {
	width: 35%;
}
.clients-page .table-block .advisor {
	width: 35%;
}


.clients-page .enable-custom-scrollbar {
	height: 150px;
}
.clients-page .form-list {
	float: left;
	margin: 0 35px 0 0;
}
.clients-page .description .btn {
	margin-top: 140px;
}
.clients-page .description h2 {
	padding: 24px 0 6px;
}

.clients-page .control-block {
	clear: both;
	padding: 50px 0 23px;
}
.clients-page .control-block h2 {
	float: left;
	padding: 3px 0 0;
}
.clients-page .search-block {
	float: left;
	margin: 0 0 0 20px;
}
.clients-page .search-block .btn {
	margin-top: 0;
}

.enable-custom-selectmenu {
	width: 230px;
}


/*----------------------------------------------------------------------------------*/
/*-------------------------------> Firm advisor page <------------------------------*/
/*----------------------------------------------------------------------------------*/
.firm-advisor-page .form-list {
	width: 250px;
}
.firm-advisor-page .form-list .caption-block {
	overflow: hidden;
}
.firm-advisor-page .form-list h2 {
	padding: 1px 11px 0 0;
	float: left;
}
.firm-advisor-page .input-block input {
	width: 215px;
}
.firm-advisor-page .check-block label {
	line-height: 110%;
	font-size: 10px;
	font-style: italic;
	padding: 0 0 0 20px;
	margin: 0 0 0 10px;
}
.firm-advisor-page .check-block .icon {
	top: -4px;
}
.firm-advisor-page .buttons-block .btn {
	margin: 0 auto;
	float: none;
}

.firm-advisor-page .table-block {
	width: 320px;
}
.firm-advisor-page .table-block .name,
.firm-advisor-page .table-block .last-name {
	width: 50%;
}

.firm-advisor-page .enable-custom-scrollbar {
	height: 150px;
}

.firm-advisor-page .advisor-info {
	clear: both;
	padding: 20px 0 0;
}
.firm-advisor-page .clients-block {
	float: right;
}
.firm-advisor-page .form-list,
.firm-advisor-page .photo-block {
	float: left;
}
.firm-advisor-page .photo-block {
	width: 96px;
	margin: 47px 0 0 12px;
	text-align: center;
}
.firm-advisor-page .photo-link {
	font-size: 8px;
	line-height: 100%;
	display: block;
	font-style: italic;
	margin: 4px 0 0;
	padding: 0 0 2px;
}

.firm-advisor-page .clients-block {
	margin: 0 -30px 0 0;
}
.firm-advisor-page .advisors-block h2 {
	padding: 24px 0 17px;
}
.firm-advisor-page .clients-block h2 {
	padding: 12px 0 18px;
}


/*----------------------------------------------------------------------------------*/
/*--------------------------------> Firm admin page <-------------------------------*/
/*----------------------------------------------------------------------------------*/
.firm-admin-page .firm-info {
	float: left;
	margin: 0 150px 0 0;
}
.firm-admin-page .logo-block {
	text-align: center;
}
.firm-admin-page .logo-block .logo-link {
	display: inline-block;
	font-size: 8px;
	font-style: italic;
	line-height: 100%;
	margin: 18px 0 0;
}
.firm-admin-page .description .btn {
	float: none;
	margin: 5px auto 0;
}
.firm-admin-page .admin-info {
	float: left;
}
.firm-admin-page .admin-info .form-list {
	padding-top: 0;
	padding-bottom: 21px;
}


/*----------------------------------------------------------------------------------*/
/*------------------------------> Client notes page <-------------------------------*/
/*----------------------------------------------------------------------------------*/
.client-tabs-page .description {
	padding: 21px 0 0;
}

.client-tabs-page .notes-block .caption {
	display: block;
	background: #DADADA;
	border: 1px solid #96989A;
	border-bottom: 0;
	font-size: 10px;
	height: 22px;
	padding: 8px 0 0 32px;
}
.client-tabs-page .notes-block textarea {
	display: block;
	border: 1px solid #96989A;
	width: 100%;
	height: 136px;
	padding: 5px 1px 10px 32px;
	resize: none;
	font-size: 10px;
	line-height: 200%;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.client-tabs-page .notes-block .btn {
	float: none;
	margin: 16px 0 22px;
}
.client-tabs-page .advisor-info {
	overflow: hidden;
}
.client-tabs-page .advisor-info li {
	list-style: disc;
	float: left;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0 19px 0 14px;
	margin: 0 0 0 12px;
	color: #F49D1D;
}
.client-tabs-page .advisor-info li:first-child {
	list-style: none;
	margin: 0;
	padding-left: 67px;
}
.client-tabs-page .enable-custom-scrollbar {
	height: 200px;
}
.client-tabs-page .table-block .title {
	width: 66%;
}
.client-tabs-page .table-block .start-date,
.client-tabs-page .table-block .end-date {
	width: 17%;
}
.client-tabs-page .add-block {
	padding: 14px 0 5px;
	overflow: hidden;
}


.ui-tabs-nav {
	background: #808284;
	padding: 2px 93px 3px 66px;
	margin: 17px 0 13px;
}
.ui-tabs-nav a {
	color: #CBCBCB;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 182%;
}
.ui-tabs-nav a:hover {
	color: #FFF;
	text-decoration: none;
}
.ui-tabs-nav .ui-state-active a {
	color: #FFF;
	text-decoration: underline;
}
.ui-tabs-nav li {
	overflow: hidden;
	float: left;
	text-align: center;
	width: 33.3%;
}
.ui-tabs-nav li:first-child {
	text-align: left;
}
.ui-tabs-nav li:last-child {
	text-align: right;
}

.ui-tabs-panel {
	padding: 0 93px 0 66px;
}

/*----------------------------------------------------------------------------------*/
/*-----------------------------------> Lightboxes <---------------------------------*/
/*----------------------------------------------------------------------------------*/
.overlay {
	background: #808284;
	opacity: 0.8;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
}
.lightbox {
	width: 750px;
	height: 450px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -225px 0 0 -375px;
	background: #FFF;
	text-align: center;
	z-index: 10000;
}
.lightbox h2 {
	background: #808284;
	text-transform: uppercase;
	color: #FFF;
	margin: 9px 0 0;
	padding: 6px 0 0;
	font-size: 20px;
	height: 35px;
}
.lightbox h3 {
	font-size: 12px;
	color: #F49D1D;
	line-height: 140%;
	text-transform: uppercase;
	padding: 35px 0 19px;
}
.lightbox textarea {
	width: 360px;
	height: 200px;
	border: 1px solid #666;
	resize: none;
	padding: 8px 1px 8px 11px;
	
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}
.lightbox .btn-yellow {
	margin-top: 28px;
}


.hide-lightbox {
	z-index: 9998;
}

.add-item-form {
	height: 584px;
	margin-top: -292px;
}
.add-item-form h3 {
	padding: 27px 0 24px;
}
.add-item-form ul {
	width: 680px;
	margin: 0 auto;
	text-align: left;
}
.add-item-form li {
	float: left;
}
.add-item-form .buttons-block {
	clear: both;
	float: none;
	text-align: center;
	padding: 60px 0 24px;
}
.add-item-form .buttons-block .btn {
	display: inline-block;
	margin: 0 16px;
}

.add-item-form .input-block {
	margin: 0 0 0 25px;
}
.add-item-form .input-block input {
	border: 1px solid #909090;
	width: 188px;
	padding: 3px 10px;
}
.add-item-form .text-block {
	width: 100%;
	padding: 0 0 27px;
}
.add-item-form textarea {
	width: 666px;
}
.add-item-form label {
	display: block;
	font-size: 9px;
	font-weight: bold;
	text-transform: uppercase;
	color: #656565;
	padding: 0 0 11px;
}
.add-item-form .check-block {
	padding: 25px 0 0;
}
.add-item-form .check-block label {
	padding: 0 0 0 15px;
}
.add-item-form .check-block .icon {
	top: -3px;
}

.confirm-lightbox {
	width: 294;
	height: 126px;
	margin: -63px 0 0 -147px;
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 10000;
	background: #FFF;
	text-align: center;
}
.confirm-lightbox .confirm-wrap {
	border: 1px solid #808284;
	margin: 5px;
	padding: 14px 0 10px;
}
.confirm-lightbox p {
	font-size: 9px;
	line-height: 194%;
	color: #656565;
	padding: 0 0 14px;
}
.confirm-lightbox .btn {
	display: inline-block;
	margin: 0 13px;
}

.ui-datepicker {
	font-size: 12px;
}

.upload-lightbox .caption,
.upload-lightbox p,
.upload-lightbox .file-name,
.upload-lightbox .upload-link {
	line-height: 130%;
	font-size: 9px;
}
.upload-lightbox .caption {
	font-weight: bold;
	display: block;
}
.upload-lightbox .confirm-wrap {
	padding: 7px 0 12px;
}
.upload-lightbox .upload-block {
	overflow: hidden;
	padding: 0 0 11px;
}
.upload-lightbox .upload-block input {
	display: none;
}
.upload-lightbox .upload-block .upload-link,
.upload-lightbox .upload-block .file-name {
	display: block;
	float: left;
}
.upload-lightbox .upload-block .upload-link {
	margin: 0 45px;
	text-transform: uppercase;
	font-weight: bold;
}
.upload-lightbox .upload-block .file-name {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 100px;
	text-align: left;
	font-style: italic;
}
/*----------------------------------------------------------------------------------*/
/*-----------------------------------> Responsive <---------------------------------*/
/*----------------------------------------------------------------------------------*/
@media all and (max-width: 768px) {
	body {
		min-width: 768px;
	}
	.wrap {
		width: 748px;
	}
	.page {
		position: relative;
	}
	.slider {
		width: 450px;
	}
	.anythingSlider,
	.slider {
		margin-left: auto;
		margin-right: auto;
	}
	.anythingSlider .slider {
		margin: 0;
	}
	.slider .photo-block {
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
	}
	.slider .info-block {
		display: none;
	}
	
	.content {
		padding-left: 20px;
		padding-right: 22px;
	}
	.description {
		padding: 0;
	}
	.columns .left,
	.columns .right {
		float: none;
		width: auto;
		margin: 0;
	}
	.form-list {
		margin: 0 auto !important;
	}
	.left {
		padding-bottom: 24px;
	}
	.register-form .left {
		padding-bottom: 14px;
	}
	.description .btn {
		margin-top: 24px;
	}
	
	.register-info-second {
		text-align: center;
	}
	.register-info-second .radio-list {
		margin: 0 auto;
	}
}

/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/